.wrapper{
    width: 100%;
    height: 70vh;
    h1{
        margin: 70px 70px;
        font-size: 40px;
        font-family: sans-serif;
    }
    .back-logo{
        width: 100%;
        height: 270px;
        background: url("../images/netflix-black.png") no-repeat center center;
        background-size: contain;
    }
    .swiper-slide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .slide-image{
            img{
                margin-top: 10px;
                width: 100%;
                height: 90%;
            }
        }
        .slide-content{
            text-align: center;
        }
    }
}
