.wrapper{
    article{
        section{
            display: flex;
            flex-direction: column;
            p{
                span{
                    font-weight: bold;
                }
                font-size: 20px;
            }
        }
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
a{
    color:black;
}
